<h1>Your Profile</h1>

<h2> Admin: <%= current_user.admin? %> </h2>
<h2> Email: <%= current_user.email %> </h2>
<% @address.each do |x| %>
<% if x.user == current_user %>
<h2>Address: <li> City: <%= x.city %></li><li>Street: <%= x.street %></li><li>Postcode: <%=x.postcode%></li></h2>


<%end %>
<%end %>

<%= link_to 'Add/Change  address', addresses_path %>


<% @credit_cards.each do |y| %>
<% if y.user == current_user %>
<h2>Your card details: <li> Card No: <%= y.number %></li><li>Exp Date: <%= y.exp_date %></li><li>Name on card: <%=y.name_on_card%></li><li>Card organisation: <%=y.organisation%></li></h2>

<%end %>
<%end %>

<%= link_to 'Add/Change credit card', credit_cards_path %>