<p id="notice"><%= notice %></p>

<p>
  <strong>Addresses:</strong>
  <%= @profile.addresses_id %>
</p>

<p>
  <strong>Credit cards:</strong>
  <%= @profile.credit_cards_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
