<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @pokedex.Index %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pokedex.Name %>
</p>

<p>
  <strong>Type 1:</strong>
  <%= @pokedex.Type_1 %>
</p>

<p>
  <strong>Type 2:</strong>
  <%= @pokedex.Type_2 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @pokedex.Total %>
</p>

<p>
  <strong>Hp:</strong>
  <%= @pokedex.HP %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @pokedex.Attack %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @pokedex.Defense %>
</p>

<p>
  <strong>Sp atk:</strong>
  <%= @pokedex.Sp_Atk %>
</p>

<p>
  <strong>Sp def:</strong>
  <%= @pokedex.Sp_Def %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @pokedex.Speed %>
</p>

<p>
  <strong>Generation:</strong>
  <%= @pokedex.Generation %>
</p>

<p>
  <strong>Legendary:</strong>
  <%= @pokedex.Legendary %>
</p>

<%= link_to 'Edit', edit_pokedex_path(@pokedex) %> |
<%= link_to 'Back', pokedexes_path %>
