<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Street</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Card no</th>
      <th>Exp date</th>
      <th>Name on card</th>
      <th>Organisation</th>
      <th>Address</th>
      <th>Credit card</th>
      <th>User</th>
      <th>Pokedex</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.price %></td>
        <td><%= order.street %></td>
        <td><%= order.city %></td>
        <td><%= order.postcode %></td>
        <td><%= order.card_no %></td>
        <td><%= order.exp_date %></td>
        <td><%= order.name_on_card %></td>
        <td><%= order.organisation %></td>
        <td><%= order.address_id %></td>
        <td><%= order.credit_card_id %></td>
        <td><%= order.user_id %></td>
        <td><%= order.pokedex_id %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
