

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/> 
 <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"  
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
<img src="https://www.pogomap.info/images/markergymnew.png" alt="Gym: Upper Wincobank Undeonminational Chapel" width="28" height="26">

<div id="mapid">


<script>
// RUN npm install pokemon-font

var map = L.map('mapid').setView([51.505, -0.09], 2);
 var bulbasaur_name = "<%= PokeApi.get(pokemon: 'bulbasaur').name %>";
 var bulbasaur_base_exp = "<%= PokeApi.get(pokemon: 'bulbasaur').base_experience %>";

 var squirtle_name  = "<%= PokeApi.get(pokemon: 'squirtle').name %>";
  var squirtle_base_exp = "<%= PokeApi.get(pokemon: 'squirtle').base_experience %>";

var charmander_name  = "<%= PokeApi.get(pokemon: 'charmander').name %>";
  var charmander_base_exp = "<%= PokeApi.get(pokemon: 'charmander').base_experience %>";

var caterpie_name  = "<%= PokeApi.get(pokemon: 'caterpie').name %>";
  var caterpie_base_exp = "<%= PokeApi.get(pokemon: 'caterpie').base_experience %>";

var lucario_name  = "<%= PokeApi.get(pokemon: 'lucario').name %>";
  var lucario_base_exp = "<%= PokeApi.get(pokemon: 'lucario').base_experience %>";


var pikachu_name  = "<%= PokeApi.get(pokemon: 'pikachu').name %>";
  var pikachu_base_exp = "<%= PokeApi.get(pokemon: 'pikachu').base_experience %>";


var metapod_name  = "<%= PokeApi.get(pokemon: 'metapod').name %>";
  var metapod_base_exp = "<%= PokeApi.get(pokemon: 'metapod').base_experience %>";

var kanto_region = "<%= PokeApi.get(region: 'kanto').name %>";


var bulbasaur = L.icon({
    iconUrl: '/assets/bulbasaur.png',
    

    iconSize:     [38, 75], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

var squirtle = L.icon({
    iconUrl: '/assets/squirtle.png',
    

    iconSize:     [38, 75], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
var charmander = L.icon({
    iconUrl: '/assets/charmander.jpg',
    

    iconSize:     [38, 75], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});
var caterpie = L.icon({
    iconUrl: '/assets/caterpie.png',
    

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

var lucario = L.icon({
    iconUrl: '/assets/lucario.png',
    

    iconSize:     [80, 75], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});

var pickachu = L.icon({
    iconUrl: '/assets/pickachu.png',
    

    iconSize:     [80, 75], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});


var metapod = L.icon({
    iconUrl: '/assets/metapod.jpg',
    

    iconSize:     [50, 40], // size of the icon
    shadowSize:   [50, 64], // size of the shadow
    iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
    shadowAnchor: [4, 62],  // the same for the shadow
    popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
});



var customOptions =
    {
    'maxWidth': '400',
    'width': '200',
    'className' : 'popupCustom'
    }

 



L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


L.marker([50, 10]).addTo(map)
    .bindPopup(`Region: ${kanto_region}`,customOptions)

L.marker([51.5, -0.09],
    {icon: bulbasaur}).addTo(map)
    .bindPopup(`Name : ${bulbasaur_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'bulbasaur').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${bulbasaur_base_exp}`,customOptions)
   
   
L.marker([36.5, 15],{icon: squirtle}).addTo(map)
    .bindPopup(`Name : ${squirtle_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'squirtle').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${squirtle_base_exp}`,customOptions)

L.marker([-10, 20],{icon: charmander}).addTo(map)
    .bindPopup(`Name : ${charmander_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'charmander').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${charmander_base_exp}`,customOptions)

L.marker([15, 50],{icon: lucario}).addTo(map)
    .bindPopup(`Name : ${lucario_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'lucario').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${lucario_base_exp}`,customOptions)

L.marker([50, 60],{icon: caterpie}).addTo(map)
    .bindPopup(`Name : ${caterpie_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'caterpie').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${caterpie_base_exp}`,customOptions)

L.marker([32, 100],{icon: pickachu}).addTo(map)
    .bindPopup(`Name : ${pikachu_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'pikachu').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${pikachu_base_exp}`,customOptions)

L.marker([32, -100],{icon: metapod}).addTo(map)
    .bindPopup(`Name : ${metapod_name} \n | Abilities : ${"<% PokeApi.get(pokemon: 'metapod').abilities.each do |ability|%> <%= ability.ability.name %> <%end%>"} \n | Base Experience : ${metapod_base_exp}`,customOptions)



</script>
</div>